body {
	font-family: 'Montserrat', sans-serif;
}
nav.navigation {
	background: #F0F5F9;
}
nav ul a {
	color: black;
}
nav .sidenav-trigger {
	position: absolute;
	top: 0;
    color: black;
    right: 0;
}

#nav-mobile {
    background: #66A5F4;
    color: white;
    padding-top: 60px;
}
#nav-mobile a {
    color: white;
    text-align: center;
}
#nav-mobile li {
    position: relative;
    margin-bottom: 18px;
}
#nav-mobile li:after {
    display: block;
    content: '';
    width: 50px;
    height: 1px;
    border-bottom: 1px solid white;
    position: absolute;
    left: 42%;
}

footer { color: white; }
strong { font-weight: bold; }
.btn {
	text-transform:inherit;
}
.bkg-blue {
	background: #66A5F4;
}
.center-img {
	margin: 0 auto;
	display: block;
}
.no-margin-tb {
	margin-top: 0;
	margin-bottom: 0;
}
.nomargin-bottom {
	margin-bottom: 0;
}
.uppercase {
	text-transform: uppercase;
}
.bigger-text {
	font-size: 18px;
}
.form-inline {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.text-input {
	background: white !important;
	border: 1px solid lightgray !important;
	padding: 0 10px !important;
	max-width: 80%;
	margin-right: 18px;
}
.page-container {
	margin-top: 80px;
	min-height: 600px;
}
.main-nav-container-centered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
@media only screen and ( max-width: 1024px ) {
	.brand-logo img { max-width: 160px ; }
}

.hero.home {
	background: #3FB2A5;
	color: white;
}
.hero.home h1 { font-size: 24px;}
.hero-max-width-image {
	max-width: 90% !important;
	margin: 0 auto;
	margin-top: 36px;
	display: block;
}
.featured-projects .col {
	margin-top: 36px;
	margin-bottom: 36px;
}
.featured-projects .col:nth-child(even) {
	border-left: 1px solid rgba(102, 165, 244, 0.5);
	border-right: 1px solid rgba(102, 165, 244, 0.5);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.section-title {
	font-size: 36px;
	color: #66A5F4;
	text-transform: uppercase;
}
.row.feed { 
	margin-bottom: 36px; 
}
.project-card {
	color: #222222;
	padding: 0 5px;
}
.project-card .fa {
	color: #343434;
}
.project-image-placeholder {
	padding: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	 
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	max-height: 150px;
}
.project-title {
	font-size: 16px;
	font-weight: bold;
	color: #66A5F4;
}
.btn-center {
	margin: 0 auto;
	display: block;
}
.btn-rounded {
	border-radius: 20px;
}
.btn-squared {
	border-radius: 0;
}
.btn-colaborate {
	width: 160px;
	background: #66A5F4;
}
.btn-more-projects {
	width: 220px;
	background: #EF8F81;
}
.btn-campaign {
	font-size: 14px;
}
.btn-blue {
	background: #66A5F4;
}
.btn-red {
	background: #EF8F81;
	color: white !important;
}
.btn-red:hover {
	background: white;
	color: #EF8F81 !important;
	border: 1px solid #EF8F81; 
}
.btn-green {
	background: #3FB2A5;
}
.stats-list li {
	padding: 5px 8px;
	background: #3FB2A5;
	color: white;
	margin: 18px 0;
	font-size: 14px;
}
.flex-horizontal-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.item-space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.item-flex-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.display-inline-flex {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
footer a {
	color: white;
}
.footer-social-icons {
	font-size: 24px;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.footer-social-icons li {
	margin-right: 20px;
}

/* Campaigns */
thead th { 
	font-weight: 400;
	border-radius: 0;
}
.buttons-placeholder {
	margin-top: 60px;
	margin-bottom: 36px;
}
.table-campaigns,
.table-campaigns td{
	color: #788EDA;
	border: 1px solid #788EDA;
}
.table-campaigns thead{
	color: white;
	background: #788EDA;
}
.table-campaigns a { 
	color: #788EDA;
}
.table-campaigns-green {
	color: #3FB2A5;
	border: 1px solid #3FB2A5;
}
.table-campaigns-green thead{
	color: white;
	background: #3FB2A5;
}
.table-campaigns-green a { 
	color: #3FB2A5;
}
/* Comments */
.table-campaigns-red,
.table-campaigns-red td{
	color: #66A5F4;
	border: 1px solid #EF8F81;
}
.table-campaigns-red thead{
	color: white;
	background: #EF8F81;
}
.table-campaigns-red th {
	text-align: center;	
}
.table-campaigns-red a { 
	color: #EF8F81;
}
.campaign-comment-content {
	margin: 18px;
}
.campaign-comment-content > li{
	margin-bottom: 10px;
}
.comment-timestamp-item li {
	margin-right: 36px;
}
.comments-actions {
	text-align: center;
}
.comments-actions li{
	margin: 18px; 
}

/* search and filters */
.search-view,
.search-view label
{
	color: #66A5F4;
}
.filter-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.filter-column-title {
	font-size: 18px;
	margin: 0;
}
.btn-filter {
	font-weight: bold;
}
select { display: block !important; }
.campaign-input {
	border: 1px solid lightgray !important;
	max-width: 85%;
	margin: 0 !important;
	padding: 0 10px !important;
}
.show-amount {
	margin: 0 10px;
}
.fast-search  {
	max-width: 60%;
}
.list-tools .flex-horizontal-items {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.search-item-list {
	margin-bottom: 48px;
	font-size: 12px;
}
.search-item-title {
	font-weight: 900;
}
.search-item-excerpt {
	margin: 10px 0;
}

/* media queries */

@media only screen and (max-width: 768px){
    /* home */
    .hero.home {
        text-align: center;
    }
    .hero.home .l9,
    .interactive-map .l12,
    .featured-projects .l12{
        width: 100%;
    }
    .hero.home .form-inline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .section-title {
        font-size: 22px;
        text-align: center;
    }
    .project-content-placeholder {
        width: 50%;
        float: left;
        margin-right: 4%;
    }
    .project-content-placeholder{
    }
    .project-stats-placeholder {
        min-height: 200px;
        overflow: auto;
        width: 45%;
    }
    .project-author{
        display: none;
    }
    .stats-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-top: 26px;
    }
    .stats-list li {
        margin: 0;
        margin-bottom: 8px;
    }
    .featured-projects .col:nth-child(even){
        border: none;
    }
    
    /* search view */
    .search-view > .container .row .l3,
    .search-view > .container .row .l9,
    .search-view > .container .row .l9 .row .l12,
    .search-view > .container .row .l3 .row .l12,
    .list-tools .l4{
        width: 100%;
    }
    .filter-header .col {
        width: 50%;
    }
    .search-item-list .l3 {
        width: 100%;
        margin-bottom: 18px;
    }
    .search-item-list .l7 {
        width: 75%;
        float: left;
    }
    .filter-column-title {
        text-align: center;
    }
    h4.filter-column-title {
        text-align: left;
    }
    .buttons-placeholder .col{
        width: 100%;
        margin-bottom: 18px;
        text-align: center;
    }
    table {
        max-width: 85vw;
    }
    thead {
        max-width: 30vw;
    }
}
    
    
    
    
    
    
    
    
    
    
    